<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gov.smart.health">

    <!-- 使用opengles 2.0 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 允许访问存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:configChanges="orientation|keyboardHidden"
        android:icon="@mipmap/healthicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="adjustUnspecified|stateHidden">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.self.HelpSplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.login.LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.login.RegisterActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.find.LearningActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.find.FindAttentionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.self.MyAttentionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.find.FindNewAttentionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.find.DetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.find.AttentionDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.self.UserSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.self.UserSettingInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.self.SportHistoryListActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d31bd770eb37b494636da1fa59c63570efd684df" />

        <activity
            android:name=".activity.message.MessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.login.ResetPwdActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.vr.SportShareActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.find.FindShareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.message.FriendsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.message.FriendInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.message.NearlyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.message.AddFriendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.self.DeviceSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.vr.VTOVRPlayerActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.vr.SportAreaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.self.SelectConditionActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".activity.self.MyAttentionDetailActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.self.MyDetailActivity" android:screenOrientation="portrait" />
        <service android:name=".activity.vr.service.FitpoloService" />
    </application>

</manifest>