<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gov.smart.health">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/healthicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.login.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".activity.login.RegisterActivity" />
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.find.LearningActivity" />
        <activity android:name=".activity.find.EventActivity" />
        <activity android:name=".activity.find.DetailActivity" />
        <activity
            android:name=".activity.vr.VRPlayerActivity"
            android:label="@string/title_activity_vrplayer"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <category android:name="com.google.intent.category.CARDBOARD" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.self.UserSettingActivity" />
        <activity android:name=".activity.self.UserSettingInfoActivity" />
        <activity android:name=".activity.self.SportHistoryListActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d31bd770eb37b494636da1fa59c63570efd684df" />

        <activity android:name=".activity.message.MessageActivity" />
        <activity android:name=".activity.login.ResetPwdActivity" />
        <activity android:name=".activity.vr.ShareActivity" />
        <activity android:name=".activity.message.FriendsActivity" />
        <activity android:name=".activity.message.FriendInfoActivity" />
        <activity android:name=".activity.message.NearlyActivity" />
        <activity android:name=".activity.vr.BlueToothActivity" />
        <activity android:name=".activity.vr.DeviceListActivity" />
        <activity
            android:name=".activity.vr.SelectParkActivity"
            android:label="@string/title_activity_select_park"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.message.AddFriendActivity"></activity>
    </application>

</manifest>